

/*banner图*/
.banner{
	height:350px;
	position: relative;
}

.banner ul{
	width:1263px;
	height:350px;
	overflow: hidden;
	position: relative;
}
.banner ul li{
	position: absolute;	
	left:0;
	top:0;
}
.banner img{
	width:1263px;
	height:350px;
	
}
.banner ol{
	width:200px;
	height: 25px;
	/*background: red;*/
	z-index: 999;
	position: absolute;
	top:320px;
	left:1000px;
}
.banner ol li{
	width:25px;
	height:25px;
	line-height: 25px;
	text-align: center;
	float: left;
	margin-right: 20px;
	background: lightgray;
	/*border-radius: 50%;*/
	border: 1px solid orange;
	opacity: 0.5;
}
.banner ol li.act{
	background: #00C8FF;
}
/*main*/
.main{
	background:#f6f6f3;/*lightgray*/
}

/*js*/
/*楼梯号*/
.loutiNav{
	width:60px;
	height:240px;
	display: none;
	/*position: fixed;
	left:0;
	top:200px;*/
}
.loutiNav ul li{
	cursor: pointer;
	width:60px;
	height:60px;
	background: #fff;
	line-height: 60px;
	font-size:12px;
	text-align: center;
	border-bottom: 1px dashed gray;
}
.loutiNav ul .borderno{
	border-bottom: none;
}
.loutiNav ul li.current{
	background: #00C8FF;
	color:#fff;
}
/*今日头条*/
.toutiao{
	height:1540px;
}
.toutiao h3{
	height:82px;
	font-size: 24px;
	line-height: 82px;
	text-align: center;
}
.toutiao1 dl dt{
	width:650px;
	float:left;
}
.toutiao1 dl dt img{
	width:650px;
	height:350px;
}
.toutiao1 dl dd{
	width:450px;
	height:350px;
	float:right;
	background: #fff;
}
/*js*/
/*h4需要写倒计时*/
.toutiao1 dl dd h4{
	height:68px;
	line-height: 68px;
	font-size:14px;
	text-align: center;
}
.toutiao1 .p1,.toutiao1 .p2,.toutiao1 .p3{
	width:350px;
	padding: 0 50px;
}
.toutiao1 .p1{
	height:155px;
	font-size:16px;
}
.toutiao1 .p1 span{
	color:#ff643c;
}
.toutiao1 .p2{
	height:35px;
	padding-top: 40px;
}
.toutiao1 .p2 span{
	display: block;
	width:210px;
	height:35px;
	float: left;
}
.toutiao1 .p2 b{
	font-size: 30px;
}
.toutiao1 .p2 del{
	font-size: 16px;
}
/*js*/
/*点击加入购物车 i*/
.toutiao1 .p2 i{
	cursor: pointer;
	display: block;
	width:140px;
	height:35px;
	float: right;
	background: #ff643c;
	color:#fff;
	font-size:20px;
	line-height: 35px;
	text-align: center;
}
.toutiao1 .p3{
	width:90px;
	margin: 14px 0 0 260px;
	color: #c4c4c4;
	font-size: 12px;
}
.toutiao1,.toutiao2,.toutiao3{
	height:350px;
	margin-bottom: 20px;
}

/*品牌团*/
.pinpai{
	height:1090px;
	/*background:plum;*/
}
.pinpai-top{
	height:800px;	
}
.pinpai-top h3{
	height:72px;
	line-height: 86px;
	font-size:18px;
	text-align: left;
}
/*.pin-top-img{
	transform-style: preserve-3d;
}*/
.pin-top-img li{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	/*animation: move 3s linear 10s;*/
}
.pin-top-img li:hover{
	box-shadow: 5px 5px 5px pink;
}
/*@-webkit-keyframes move{
	0%{transform: scale(0.5);}
	100%{transform: scale(1);}
}*/

.pin-top-img .marginNo{
	margin-right: 0px;
}
.pinpai .ul-biaoti{
	height:47px;
	padding-top:20px;
	border-bottom: 1px solid #6c6c6c;
}
/*js*/
/*划过li  对应的图片组出现*/
.pinpai .ul-biaoti li{
	cursor: pointer;
	width:140px;
	float: left;
	height:45px;
	line-height: 45px;
	text-align: center;
	font-size:14px;
	font-weight: bold;	
}
.pinpai .ul-biaoti li.active{
	color:#00c8ff;
	border-bottom: 2px solid #00c8ff;
}
.pinImg{
	height:225px;
	position: relative;
}
.pinImg ol{
	width:840px;
	float: left;
	/*四个ol在一起*/
	position: absolute;
	left:0;
	top:0;
}
.pinImg ol li{
	float: left;
}
.pinImg ol li img{
	width:160px;
	height:100px;
	margin:12px 8px 0 0;
}
/*点击大图  箭头  切换*/
.pinImg-big{
	width:260px;
	float: right;
	position: relative;
	/*background: red;*/
}
.pinImg-big ul{
	width:260px;
	height:225px;
	position: relative;
}
.pinImg-big ul li{
	width:260px;
	height:225px;
	position: absolute;
	left:0;
	top:0;
}
.pinImg-big img{
	width:260px;
	height:225px;	
	
}
.pinImg-big span{
	display: block;
	width:30px;
	height:30px;
	font-family: "微软雅黑";
	font-size: 30px;
	background: lightgray;
	opacity: 0.4;
	position: absolute;
	top:90px;
}
.pinImg-big .span1{
    left: 10px;
}
.pinImg-big .span2{
    right: 10px;
}

/*新品*/
.xinpin h3{
	height:75px;
	line-height: 93px;
	font-size: 16px;
	text-align: left;
}
.xinpin .new{
	height: 2120px;
}
.xinpin .new dl{
	cursor: pointer;
	float: left;
	width: 350px;
	height: 510px;
	margin-right: 22px;
	margin-bottom: 20px;
	background: #fff;
	
}
.xinpin .new .marginNone{
	margin-right: 0;
}
.xinpin .new dl dt{
	position: relative;
}
.xinpin .new dl dt img{
	width:350px;
	height:350px;
	position: relative;	
}
/*js*/
/*划过图片  p显示*/
.xinpin .new dl dt p{
	position: absolute;
	top:300px;
	left:50px;
	width:250px;
	height:30px;
	display: none;
}
.xinpin .new dl dt p a{
	display: block;
	float: left;
	width:40px;
	height:30px;
	padding:0 10px;
	margin:0 10px;
	color:#00C8FF;
	line-height:30px;
	text-align: center;
	background: #fff;
}
.xinpin .new dl dd{
	width:314px;
	padding:0 18px;
	height:160px;
	
}
 .newp1{
	height:70px;
	line-height: 22px;
}
.newp1 b,.newp1 i{
	color:#FF643C;
}
.newp1 b{
	font-size: 18px;
}
.newp1 i{
	font-size: 16px;
}
.newp2,.newp5{
	height:47px;
	border-bottom: 1px dashed #C4C4C4;
}
.newp2 b,.newp5 b{
	display: block;
	width:220px;
	height:27px;
	float: left;
	font-size: 24px;
}
.newp2 del,.newp5 del{
	font-size: 16px;
	color:#c4c4c4;
}
/*js*/
/*点击加入购物车*/
.newp2 span,.newp5 span{
	display: block;
	width:90px;
	height:27px;
	line-height: 27px;
	text-align: center;
	float: right;
	background: #FF643C;
	font-size: 12px;
	color:#fff;
}
/*js*/
/*加入倒计时*/
.newp3,.newp4{
	height:40px;
	line-height: 40px;
	color:#C4C4C4;
}
.newp3 span,.newp4 span{
	display: block;
	width:200px;
	float: left;
}
.newp3 b,.new4 b{
	display: block;
	float: right;
}
.sell{
	width: 350px;
	height: 350px;
	position: absolute;
	top:0;
	left:0;
	background: #6C6C6C;
	opacity: 0.3;
}
.sell strong{
	width:150px;
	height:50px;
	line-height: 50px;
	text-align: center;
	border:1px solid #fff;
	color:#fff;
	font-size:20px;
	font-weight: bold;
	position: absolute;
	top:170px;
	left:100px;
	
}


