/*海淘*/
.header-nav-cont ul .li-gif{
	background: url(../images/haitao1.gif);
}



.main{
	background: #f6f6f3;/*f6f6f3*/
	height:auto;
}
/*内容*/
.cont{
	width:1100px;
	margin: 0 auto;
}
.main-top{
	width:1100px;
	height:470px;
	background:#fff ;/**/
}
.main-top ul{
	height:40px;
	border-bottom: 1px dashed #6C6C6C;
}
.main-top ul li{
	float: left;
}
.main-top ul li a{
	padding: 0 20px;
	line-height: 40px;
}
.main-top dl{
	height:430px;
}
/*放大镜*/
.main-top dl dt{
	float: left;
	width:420px;
	height:430px;
	/*background: yellow;*/
	position: relative;
}
.main-top dl dt .small{
	width:350px;
	height:350px;
	background: black;
	position: absolute;
	top:0px;
	left:35px;
	/*top:40px;
	left:35px;*/
	border: 1px solid black;
}
.small img{
	position: absolute;
	top:0;
	left:0;
}

.main-top dl dt .smallList{
	width:350px;
	height:50px;
	/*background: pink;*/
	position: absolute;
	top:360px;
	left:35px;
	border-bottom: none;
}
.smallList li{
	float: left;
	padding:0 15px;
}
.main-top dl dt .small .mask{
	width: 175px;
	height:175px;
	background: skyblue;
	opacity: 0.3;
	position: absolute;
	top:0;
	left:0;
	display: none;
}
.main-top dl dt .big{
	width:400px;
	height:400px;
	position: absolute;
	top:0px;
	left:420px;
	border: 1px solid black;
	overflow: hidden;
	display: none;
}
.big img{
	position: absolute;
	top:0;
	left:0;
}



.main-top dl dd{
	float: left;
	width:630px;
	height:430px;
	padding-left: 50px;
	/*background: green;*/
}
.main-top dl dd h3{
	height:90px;
	line-height: 90px;
	font-size: 20px;
}
.main-top dl dd h4{
	height:60px;
	line-height: 60px;
	color: #ff643c;
	font-size: 25px;
	border-bottom: 1px solid #6C6C6C;
}
.main-top dl dd h5{
	height:50px;
	line-height: 50px;
	font-size: 16px;
	border-bottom: 1px solid #6C6C6C;
}
.main-top dl dd h5 b{
	display: block;
	float: left;
	width:67px;
	height:50px;
	text-align: center;
	line-height: 50px;
}
.main-top dl dd h5 i{
	display: block;
	float: left;
	color: #ff643c;
}
.main-top dl dd h5 strong{
	float: left;
	margin-left: 20px;
	text-decoration: underline;
}
.main-top dl dd p{
	height:76px;
	font-size: 16px;
}
.main-top dl dd p b{
	display: block;
	width:67px;
	height:76px;
	text-align: center;
	line-height: 76px;
	float: left;
} 
.main-top dl dd p span{
	display: block;
	width:80px;
	height:25px;
	line-height: 25px;
	margin-top: 25px;
	float: left;
	border:1px solid #6C6C6C;
}
/*js*/
/*点击+-*/
.main-top dl dd p span em{
	display: block;
	float: left;
	width:20px;
	margin:0 3px;
	cursor: pointer;
}
.main-top dl dd p i{
	display: block;
	width:235px;
	height:76px;
	float: left;
	margin-left: 20px;
	line-height:76px;
	color: #00c8ff;
	cursor: pointer;
}
.main-top dl dd h6{
	height:44px;
	line-height: 44px;
	font-size: 14px;
	border-bottom: 1px solid #6C6C6C;
}
.main-top dl dd h6 span{
	display: block;
	width:200px;
	height:44px;
	float: left;
	background:#ff643c;
	color: #fff;
	cursor: pointer;
	font-size:22px;
	line-height: 44px;
	text-align: center;
}
.main-top dl dd h6 b{
	color: #ff643c;
	float: left;
	margin-left: 5px;
}
.main-top dl dd h6 i{
	color: #c4c4c4;
	float: left;
	margin-left: 5px;
}
.main-top dl dd p a:nth-child(1){
	display: block;
	width:40px;
	height:20px;
	background: #00C8FF;
	color:#fff;
	text-align: center;
}
.main-top dl dd p a{
	margin-top: 25px;
	padding:0 10px;
	float: left;
}

/*今日特卖*/
.sell{
	height:428px;
	/*background: yellow;*/
}
.sell h3{
	height:67px;
	font-size: 18px;
	line-height: 67px;
}
.sell .sellAll{
	height: 360px;
}
.sell .sellAll dl{
	width:260px;
	height:326px;
	background: #fff;
	margin-right: 20px;
	float: left;
}
.sell .sellAll .marN{
	margin-right: 0;
}
.sell .sellAll dl dt{
	width: 260px;
	height:208px;
}
.sell .sellAll dl dt img{
	width: 260px;
	height:208px;
	opacity: 0.4;
}
.sell .sellAll dl dd{
	height:118px;
}
.sell .sellAll dl dd h4{
	height:75px;
	line-height: 75px;
	font-size: 14px;
	text-align: center;
}
.sell .sellAll dl dd p{
	width:260px;
	height:43px;
	
}
.sell .sellAll dl dd p b{
	display: block;
	width:125px;
	height:43px;
	float: left;
	padding-left: 30px;
	color: #ff643c;
	font-size: 20px;
	line-height: 26px;
}
.sell .sellAll dl dd p i{
	display: block;
	width:90px;
	height:26px;
	background: #ff643c;
	color: #fff;
	float: left;
	text-align: center;
	line-height: 26px;
}
/*同类排行   吸顶*/
.main-center{
	width:1100px;	
}
.main-center:after{
		content: ".";
		clear: both;
		display: block;
		height:0;
		overflow: hidden;
		visibility: hidden;
	}

.main-center .mainL{
	width:270px;
	margin-right: 30px;
	background: #fff;
}
.main-center .mainL .L1 p{
	height:40px;
	background: #6C6C6C;
	width:270px;
	color:#fff;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
}
.main-center .mainL .L1 dl{
	display: none;
	height:120px;
	width:230px;
	margin: 20px 20px;
	border-bottom: 1px dashed #6C6C6C;
	/*background: red;*/
}
.main-center .mainL .L1 dl dt{
	float: left;
}
.main-center .mainL .L1 dl img{
	width:120px;
	height:120px;
}
.main-center .mainL .L1 dl dd{
	float: right;
}
.main-center .mainL .L1 dl dd h3,.main-center .mainL .L1 dl dd h4{
	width:90px;
	padding-left: 15px;
	line-height: 15px;
	margin-top:15px;
}
.main-center .mainL .L1 dl dd h4{
	color:#ff643c;
}

.main-center .mainR{
	width:800px;
	height:100%;
	background: #fff;
}
.main-center .mainR .R1 p{
	width:800px;
	height:40px;
	background: #6C6C6C;
	line-height: 40px;
	font-size: 16px;
	z-index: 1;
}
.main-center .mainR .R1 p a{
	color: #fff;
	padding: 0 35px;
	float: left;
}
.mainR .R1 p a.select{
	background: #00C8FF;
	
}
.main-center .mainR .R1 p span{
	display: block;
	width:260px;
	height:40px;
	background: #00C8FF;
	float: right;
}
.main-center .mainR .R1 p span b{
	display: block;
	width:110px;
	color: #fff;
	padding-left: 20px;
	float: left;
	font-size: 20px;
}
.main-center .mainR .R1 p span i{
	display: block;
	width:110px;
	height:26px;
	line-height: 26px;
	color: #fff;
	text-align: center;
	margin-top: 6px;
	background: #ff643c;
	float: left;
}
.Rmain{
	width:760px;
	height:420px;
	margin:0 20px;
	/*background: yellow;*/
}
.Rmain2,.Rmain3,.Rmain4{
	width:760px;
	height:100%;
	margin:0 20px;
	/*background: blue;*/
}
.Rmain h3,.Rmain2 h3,.Rmain3 h3,.Rmain4 h3{
	height:45px;
	line-height: 45px;
	border-bottom: 1px solid #6C6C6C;
	font-size: 16px;
	
}
.Rmain h3 em,.Rmain2 h3 em,.Rmain3 h3 em,.Rmain4 h3 em{
	float:left;
	display: block;
	height:17px;
	margin:15px 5px 0 0;
	border-left: 5px solid #00C8FF;
}
.Rmain ul{
	width:120px;
	margin-top:20px;
	margin-bottom: 20px;
	/*background: green;*/
}
.Rmain  li{
	font-size:15px;
	line-height: 25px;
}
.Rmain ul li{
	color: black;
	text-align: center;
}
.Rmain ol{
	width:580px;
	margin-top:20px;
	margin-bottom: 20px;
	position: relative;
	/*background: blue;*/
}
.Rmain ol li{
	color: #6C6C6C;
}
.Rmain ol img{
  position: absolute;
  top:50px;
  left:300px;
}
.Rmain2 img,.Rmain3 img{
	width:760px;
}
.Rmain4 .user{
	width:760px;
}
.Rmain4 .user dl{
	height: 130px;
	/*background: red;*/
	margin: 20px 0;
}
.Rmain4 .user dl dt{
	float: left;
	height:130px;
	width:130px;
	/*background: yellow;*/
}
.Rmain4 .user dl dt img{
	width:100px;
	height:90px;
	margin:15px 0 0 15px;
	
}
.Rmain4 .user dl dt h4{
	width:100px;
	text-align: center;
	height:20px;
	margin-left: 15px;
	line-height: 20px;
}
.Rmain4 .user dl dd{
	float: left;
	height:130px;
	width:600px;
	margin-left: 30px;
	background:#f6f6f3;
}
.Rmain4 .user dl dd span{
	display: block;
	width:600px;
	height:130px;
}
.Rmain4 .user dl dd span h5{
	height:40px;
	line-height: 40px;
	font-size: 14px;
}
.Rmain4 .user dl dd span h5 b{
	display: block;
	color: #ff643c;
	float: left;
	margin-left: 20px;
}
.Rmain4 .user dl dd span h5 i{
	display: block;
	float: right;
	color: #C4C4C4;
	margin-right: 30px;
}
.Rmain4 .user dl dd span h6{
	height:60px;
	line-height: 60px;
	font-size: 16px;
	text-align: center;
}
.Rmain4 .user dl dd span strong{
	color: #ff643c;
	height:30px;
	line-height: 30px;
	display: block;
	width:100px;
	margin-left: 500px;
}
.Rmain4 .user dl dd span strong em{
	color: black;
	height:30px;
	line-height: 30px;
	font-size:14px;
}