.main{
	height:790px;
	width:1263px;
	background: url("../images/register/bg.jpg") no-repeat;
	position: relative;
}
.register{
	width:430px;
	height:530px;
	background: #fff;
	position: absolute;
	top:100px;
	left: 700px;
}
.register form{
	width:330px;/*原宽330   留给提示的span*/
	height:360px;
	/*background: red;*/
	margin:28px 0px 0 38px ;
	border-bottom: 1px dashed #6C6C6C;
}
.register form>h3{
	width:330px;
	line-height:32px;
	/*background: blue;*/
}
.register form h3>i{
	font-size:24px;
	display: block;
	width:190px;
	height:32px;
	float: left;
}
/*.register form h3>p{
	width:140px;
	height:32px;
	float: left;
	margin:0;
}*/
.register form h3>p em{
	color: #c4c4c4;
	float: left;
}
.register form h3>p a{
	font-size: 14px;
	color:#00C8FF;
	float: left;
}
.register form p{
	width:330px;
	height:30px;
	
}
.register form>p input{
	display: block;
	width:330px;
	height:30px;
}
/*提示信息*/
.register form>span{
	display: block;
	width:330px;
	height:32px;
	line-height:32px;
	text-align: left;
	color: orange;
	/*background: green;*/
}
.register form>p:nth-of-type(4) input{
	display: block;
	width: 170px;
	height: 30px;
	float: left;
}
.register form>p:nth-of-type(4) b{
	display: block;
	width:80px;
	height:32px;
	margin-left: 20px;
	line-height: 32px;
	text-align: center;
	float: left;
	color:pink;
	font-size: 18px;
	border: 1px solid #C4C4C4;
}
.register form>p:nth-of-type(4) a{
	display: block;
	width:50px;
	height:34px;
	line-height: 34px;
	text-align: center;
	float: left;
	cursor: pointer;
	color: #00C8FF;
}
.register form>p:nth-of-type(5) input{
	border: none;
	background: #00C8FF;
	color: #fff;
	font-size: 20px;
}
.register form h4{
	color: #00C8FF;
	cursor: pointer;
	margin-top: 20px;
}
.logobox{
	width:330px;
	height:140px;
	margin: 0 0px 0 38px;
	/*background: yellow;*/
}
.logobox h5{
	height:44px;
	font-size: 14px;
	line-height: 44px;
}
.logobox ul{
	height:58px;
}
.logobox ul li{
	float: left;
	/*margin-bottom: 10px;*/
	margin:0 3px 10px 3px;
}
.logobox ul li img{
	width:20px;
	height:20px;
	float: left;
	margin-right: 3px;
}
.logobox ul li a{
	display: block;
	width:50px;
	height:20px;
	line-height: 20px;
	text-align: center;
	float: left;
}
