/*公共样式*/
*{
	margin:0;
	padding:0;
}
b,strong,h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
em,i{
	font-style:normal;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	
}
input{
	outline: none;
}
img{
	display: block;
}
body,html{
	font-size:12px;
}
.left{
	float:left;
}
.right{
	float:right;
}


.header,.banner,.main{
	width:1263px;
}

/*内容宽度*/
.header-top-cont,.header-center-cont,.header-nav-cont,.main-cont,.footer-cont{
	width:1100px;
	margin:0 auto;
	/*background: red;*/
}
.header-top{
	height: 28px;
	border:1px solid #e5e5e5;
	background:#f2f2f2;
}
.header-top-cont{
	height:28px;
	line-height:28px;
	color:#6c6c6c;
}
.ul-left li,.ul-right li{
	float: left;
	text-align: center;
}
.ul-left li a{
	color: #6c6c6c;
}
.ul-left .li1{
	width:230px;
}
.ul-left .li2{
	width:67px;
}
.ul-left .li3{
	width:78px;
}
.ul-right{
	float: right;
	position: relative;
	cursor: pointer;
}
.ul-right li{
	float: left;
	width: 85px;
	position: relative;
}

/*js*/
/*划过li时     li下的ul显示    img显示*/
.ul-right li ul{
	position: absolute;	
	left:0;
	top:28px;
	z-index: 10;
	cursor: pointer;
	background: #fff;
	display: none;
}
.ul-right li img{
	position: absolute;	
	left:0;
	top:28px;
	width:85px;
	height:85px;
	display: none;
}
/*头部中间  logo*/
/*.header-center{
	height:108px;
}*/
.header-center-cont{
	height:108px;
}
.header-search{
	width:580px;
	height:108px;
	/*background: yellow;	*/
}
.header-search form{
	width:420px;
	height:42px;
	padding:24px 80px 0 80px;
	
}
.header-search form input:first-child{
	width: 328px;
	height:35px;
	float: left;
	border:1px solid #00C8FF;
}
/*js*/
/*点击搜索 */
.header-search form input:last-child{
	width:90px;
	height:37px;
	background:#00c8ff;
	border: 0;
	float:left;
	color:#fff;
	font-size: 16px;
}
.header-search ul{
	height:42px;
	margin-left: 80px;
}
.header-search ul li{
	float: left;
	
}
.header-search ul li a{
	padding:0 10px;
	color:#6c6c6c;
}

.header-cart p{
	width:125px;
	height:38px;
	margin:25px 0 0 130px;
	border:1px solid #e2e2e2;
	border-radius: 5px;
	font-size:12px;
	color:#6c6c6c;
	line-height:38px;
}
.header-cart p a{
	display: block;
	width:25px;
	height:20px;
	float: left;
	margin:10px 0 0 10px;
}
.header-cart p a img{
	width:25px;
	height:20px;	
}
.header-cart p span{
	display: block;
	width:60px;
	float: left;
	margin-left: 10px;
}
/*头部nav*/
.header-nav{
	/*height:35px;*/
	background: #00c8ff;
}
.header-nav-cont{
	height:35px;
}
.header-nav-cont ul{
	cursor: pointer;
	width:360px;
	height:35px;
}
.header-nav-cont ul li{
	width:120px;
	height:35px;
	line-height: 35px;
	text-align: center;
	float: left;
	background: #00C8FF;
	color:#fff;
}
.header-nav-cont ul li.visit{
	background: #00647f;
}
.header-nav-cont ul .li-gif{
	background: url(../images/haitao1.gif);
}
.header-nav-cont ol li{
	cursor: pointer;
	float: left;
	margin-right: 12px;
}
.header-nav-cont ol li img{
	float: left;
	margin-top: 8px;
	
}
/*js*/
/*划过小logo  显示a*/
.header-nav-cont ol li a{
	float: left;
	line-height: 35px;
	color:#fff;
	display: none;
}
/*js*/
/*划过第二个li时   第一个li下的div（.li_list）显示*/
 .li_list{
 	cursor: pointer;
	width:1100px;
	height:300px;
	background: #fff;
	position: relative;
	left:-120px;
	z-index: 2;
	display: none;
	color: black;
	
}
 .list-left{
	width:400px;
	height:300px;
	/*background:red;*/
}
.li_list  dl{
	width:360px;
	margin-left: 40px;
	height:150px;
	/*background: green;*/
}
.li_list dl dt{
	text-align: left;
	height:30px;
	line-height: 30px;
	padding-top: 20px;
	font-size: 18px;
	border-bottom: 1px dashed #6C6C6C;
}
.li_list  dl dd{
	float:left;
	margin-right: 10px;
}





/*footer*/
.footer{
	height:412px;
}
.footer-top{
	height:200px;
}
.footer-top-ul{
	width:940px;
	height:200px;
	/*background: yellow;*/
}
.footer-top-ul>li{
	float: left;
	padding:0 30px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 78px;
}
.footer-top-ul li ul{
	
}
.footer-top-ul>li>ul>li{
   line-height: 24px;
   font-weight: normal;
   font-size: 14px;
}
.footer-top-ul .font-w{
	font-size:16px;
	font-weight: bold;
}
.footer-top-ul .blue{
	color: #00C8FF;
}
.footer-top dl{
	width:95px;
	padding-left: 65px;
	height:200px;
	/*background: pink;*/
}
.footer-top dl img{
	width:90px;
	height:90px;
	
}
.footer-top dl dt{
	font-size: 15px;
	line-height: 78px;
	font-weight: bold;
	
}
.footer-center{
	width:1263px;
	height:34px;
	background: #00C8FF;
}
.footer-center ul{
	width:650px;
	height:34px;
	margin: 0 auto;
	
}
.footer-center ul li{
	float: left;
	padding:0 38px;
}
.footer-center ul li a{
	display: block;
	width:20px;
	height:27px;
	float: left;
	margin-top: 7px;
	
}
.footer-center ul li span{
	display: block;
	float: left;
	line-height: 34px;
	color:#fff;
}
.footer-bottom{
	height:178px;
}
.footer-bottom .f-p1,.footer-bottom .f-p2{
	text-align: center;
	color: #6C6C6C;
}
.footer-bottom .f-p1{
	height:40px;
	line-height: 67px;
	
}
.footer-bottom .f-p2{
	height:26px;
	line-height: 26px;
}
.footer-bottom .f-p3 {
	width: 650px;
	height:110px;
	margin: 0 auto;
	/*background: blue;*/
}
.footer-bottom .f-p3 a{
	float: left;
	margin: 0 9px;
}
.footer-bottom .f-p3 a img{
	margin-top: 20px;
	width:110px;
	height:40px;
}
/*右侧导航*/
.pnav{
	width:36px;
	height:100%;
	background: #6C6C6C;
	position: fixed;
	right:0;
	bottom:0;
	cursor: pointer;
	text-align: center;
	z-index: 998;
}
.pnav ul{
	text-align: center;
	position:relative ;
}
.pnav ul li{
	width:26px;
	height:36px;
	text-align: center;
	position: absolute;
	top: 0;
	padding-left: 10px;
}
.pnav ul li img{
	margin-top: 8px;
}
.pnav ul li:nth-child(1){
	top:100px;
}
.pnav ul li:nth-child(2){
	height:125px;
	top:180px;
	color: #FFFFFF;
}
.pnav ul li:nth-child(2) span{
	display: block;
	width:14px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 4px;
}
.pnav ul li:nth-child(2) b{
	display: block;
	width:22px;
	height:22px;
	line-height: 22px;
	margin-top:10px;
	border-radius: 50%;
	background: red;
	color:#fff;
	font-size: 14px;
}
.pnav ul li:nth-child(3){
	top:370px;
}
.pnav ul li:nth-child(4){
	top:430px;
}
.pnav ul li:nth-child(5){
	top:500px;
	color: #fff;
	line-height: 36px;
}
.pnav ul li.curr{
	background: #00C8FF;
}
.pnav ul li p{
	position:absolute;
	right:36px;
	top:0px;
	width:100px;
	height:36px;
	line-height: 36px;
	background: #6C6C6C;
	color:#fff;
	display: none;
}
.pnav ul li p a{
	padding: 0 5px;
	color: #FFF;
}
.pnav ul li h4 img{
	width:100px;
	height:100px;
	position: absolute;
	top:-8px;
	right:36px;
	display: none;
}
.good{
	width:20px;
	height:20px;
	background: orange;
	position: absolute;
	top:0;
	left:0;
}
